.mini-drawer-toggle {
    z-index: 1300;
    position: absolute;
    left: 10px;
    top: 10px
}

*::selection {
    color: var(--mud-palette-primary-text) !important;
    background-color: var(--mud-palette-primary) !important;
}
