.mini-drawer-toggle {
    z-index: 1300;
    position: absolute;
    left: 10px;
    top: 10px
}

*::selection {
    color: var(--mud-palette-primary-text) !important;
    background-color: var(--mud-palette-primary) !important;
}

.google-button {
    border: 2px solid #d24228;
}

.google-button svg {
    color: #d24228;
}

.github-button {
    border: 2px solid #0e1117;
}

.github-button svg {
    color: #0e1117;
}

.microsoft-button {
    border: 2px solid #007bb6;
}

.microsoft-button svg {
    color: #007bb6;
}

.mud-input > input.mud-input-root-outlined.mud-input-root-margin-dense, 
div.mud-input-slot.mud-input-root-outlined.mud-input-root-margin-dense {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}