@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400..700&display=swap');

.mini-drawer-toggle {
    z-index: 1300;
    position: absolute;
    left: 10px;
    top: 10px
}

*::selection {
    color: var(--mud-palette-primary-text) !important;
    background-color: var(--mud-palette-primary) !important;
}

.google-button {
    border: 2px solid #EA4335;
}

.google-button svg {
    color: #EA4335;
}

.github-button {
    border: 2px solid #171515;
}

.github-button svg {
    color: #171515;
}

.microsoft-button {
    border: 2px solid #7EB900;
}

.microsoft-button svg {
    color: #7EB900;
}

.mud-input > input.mud-input-root-outlined.mud-input-root-margin-dense, 
div.mud-input-slot.mud-input-root-outlined.mud-input-root-margin-dense {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}