@inherits LayoutComponentBase

@* TODO: We probably also need to understand the difference between a 'Public' and 'Private' layout, so maybe the default one should be public? *@

<CustomThemeProvider />

<MudLayout>

    @Body

</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
