@inherits LayoutComponentBase

@inject ISnackbar Snackbar
@inject NavigationManager Navigation

<MudPopoverProvider @rendermode="@(new InteractiveServerRenderMode(prerender: false))" />
<MudDialogProvider @rendermode="@(new InteractiveServerRenderMode(prerender: false))" />
<MudSnackbarProvider @rendermode="@(new InteractiveServerRenderMode(prerender: false))" />

@if (HttpContext is null)
{
    @*  I don't think this will ever actually be seen, but if it did I think prerendering 
        makes sense to ensure we still show something on the page immediately. *@
    <MudProgressCircular @rendermode="@(new InteractiveServerRenderMode(prerender: true))"
        Color="Color.Default"
        Indeterminate="true" />
}
else
{
    <MudLayout>

        @Body

    </MudLayout>
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override void OnInitialized()
    {
        Snackbar.Clear();
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
        Snackbar.Configuration.SnackbarVariant = Variant.Outlined;
        Snackbar.Configuration.MaxDisplayedSnackbars = 5;
        Snackbar.Configuration.PreventDuplicates = false;
        Snackbar.Configuration.NewestOnTop = false;
        Snackbar.Configuration.ShowCloseIcon = true;
    }

    protected override void OnParametersSet()
    {
        if (HttpContext is null)
        {
            // If this code runs, we're currently rendering in interactive mode, so there is no HttpContext.
            // The identity pages need to set cookies, so they require an HttpContext. To achieve this we
            // must transition back from interactive mode to a static server-rendered (SSR) page.
            Navigation.Refresh(forceReload: true);
        }
    }
}