@inherits LayoutComponentBase

@layout DefaultLayout
@attribute [AllowAnonymous]

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">

    <div class="d-flex flex-column mud-width-full">

        @Body

    </div>
</MudContainer>
