@page "/"

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Hello, world!</MudText>
<MudText Class="mb-8">Welcome to your new app, powered by MudBlazor and the .NET 8 Template!</MudText>

<AuthorizeView>
    <Authorized>
        <h2>Hello @context.User.Identity?.Name, here's the list of your claims:</h2>
        <ul>
            @foreach (var claimGroup in context.User.Claims.GroupBy(a => a.Type))
            {
                foreach (var claimValue in claimGroup.Select(s => s.Value).Distinct())
                {
                    <li><b>@claimGroup.Key</b>: @claimValue</li>
                }
            }
        </ul>
    </Authorized>
</AuthorizeView>
